body {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  height: 100%;
}
h1 {
  margin: 50px auto;
}
#results {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial, Sans-Serif;
  margin: 50px auto;
}
#playerChoice {
  margin-top: 50px;
}
#computerChoice {
  margin-top: 20px;
}
button {
  display: block;
  padding: 10px 0px;
  width: 55%;
  margin: 5px auto;
  border-radius: 5px;
  border: 1px #333333 solid;
  background-color: #000000;
  color: #dddd00;
  font-size: 15px;
}
button:hover {
  background-color: #ffffff;
  color: #000000;
  font-size: 10px;
  width: 65%;
  font-size: 20px;
  margin: 10px auto;
}